#include <windows.h>

ALLEGRO_ICON ICON Roboban.ico
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", ""
			 VALUE "FileVersion", "1.0.0"
			 VALUE "FileDescription", "Roboban"
			 VALUE "InternalName", "ED1GAME"
			 VALUE "LegalCopyright", "(c) Lazaro Vieira 2017"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "Roboban.exe"
			 VALUE "ProductName", "ROBOBAN"
			 VALUE "ProductVersion", "1.0.0"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}
